<div class="col-sm-2 col-md-2 col-lg-2 col-xl-2">
    <nav class="navbar navbar-expand-lg navbar-light flex-column">
        <a class="navbar-brand" style="font-size: 20px;" href="/faculty">Home</a>
        <button class="navbar-toggler"
                type="button"
                data-toggle="collapse"
                data-target="#navbarNav"
                aria-controls="navbarNav"
                aria-expanded="false"
                aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <br /><br />
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav flex-column">
                <li class="nav-item active"
                    style="background-color: rgb(0, 51, 102);"
                    id="student-nav">
                    <a class="nav-link text-white"
                        style="font-size: 23px;"
                        href="/faculty/profile">
                        Profile
                        <span class="sr-only">(current)</span>
                    </a>
                </li>
                <li class="nav-item mt-md-2">
                    <a class="nav-link"
                        id="teacher-nav"
                        style="font-size: 23px;"
                        href="#">Test Results</a>
                </li>
                <li class="nav-item mt-md-2">
                    <a class="nav-link"
                        style="font-size: 23px;"
                        href="/faculty/createTest"
                        id="teacher-nav"
                        >Create Test</a>
                </li>
            </ul>
        </div>
    </nav>
</div>
<div class="container-fluid col-sm-8" id="view">
    <h3>{{message}}</h3>
    <form action="profile/update" method="POST" autocomplete="off">

        <input type="hidden" name="_id" value="{{user._id}}">
        <div class="form-group row">
            <label class="col-md-2 col-form-label" for="fullName">Full Name</label>
        </div>
        <div class="col-md-8 row">
            <input type="text" id="fullName" class="form-control" name="fullName" placeholder="Full Name" value="{{user.fullName}}">
            <div class="text-danger">
                {{user.fullNameError}}
            </div>
        </div>


        <div class="form-group row">
            <label class="col-md-2 col-form-label" for="rollNo">Roll No.</label>
        </div>
        <div class="col-md-8 row">
            <input type="text" class="form-control" id="rollno" name="rollno" placeholder="Roll No" value="{{user.rollno}}">
        </div>


        <div class="form-group row">
            <label class="col-md-2 col-form-label" for="dept">Department</label>
        </div>
        <div class="col-md-8 row">
            <input type="text" class="form-control" id="dept" name="dept" placeholder="Department" value="{{user.dept}}">
        </div>


        <div class="form-group row">
            <label for="phone" class="col-12 col-md-2 col-form-label">Mobile No</label>
        </div>
        <div class="col-md-4 row">
            <input type="tel" class="form-control" id="phone" name="phone" placeholder="Mobile Number" value="{{user.phone}}">
        </div>


        <div class="form-group row">
            <label for="email" class="col-12 col-md-2 col-form-label">Email</label>
        </div>

        <div class=" form-group row">
            <div class="col-12 col-md-4">
                <input type="text" class="form-control" id="email" name="email" placeholder="Email" value="{{user.email}}">
                <div class="text-danger">{{user.emailError}}</div>
            </div>
        </div>

        <div class="form-group row">
            <div class="col-sm-4">
                <button type="submit" class="btn btn-primary btn-sm"><i class="fas fa-layer-group"></i>  Save</button>
            </div>
        </div>
    </form>
  </div>