<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <title> Home </title>
</head>

<body>
  <div class="message-box">
    <h1>Welcome {{user.fullName}}!</h1>
    <a href="faculty/createTest">Create Test</a><br><br>
    <a href="faculty/viewTest">View Tests</a>
    <a href="/logout">Logout</a><br><br>
    <h3>{{message}}</h3>
  </div>
  <div class=" offset-md-2 col-12 col-md-9">
    <form action="faculty/update" method="POST" autocomplete="off">

        <input type="hidden" name="_id" value="{{user._id}}">
        <div class="form-group row">
            <label class="col-md-2 col-form-label" for="fullName">Full Name</label>
        </div>
        <div class="col-md-8 row">
            <input type="text" id="fullName" class="form-control" name="fullName" placeholder="Full Name" value="{{user.fullName}}">
            <div class="text-danger">
                {{user.fullNameError}}
            </div>
        </div>


        <div class="form-group row">
            <label class="col-md-2 col-form-label" for="rollNo">Roll No.</label>
        </div>
        <div class="col-md-8 row">
            <input type="text" class="form-control" id="rollno" name="rollno" placeholder="Roll No" value="{{user.rollno}}">
        </div>


        <div class="form-group row">
            <label class="col-md-2 col-form-label" for="dept">Department</label>
        </div>
        <div class="col-md-8 row">
            <input type="text" class="form-control" id="dept" name="dept" placeholder="Department" value="{{user.dept}}">
        </div>


        <div class="form-group row">
            <label for="phone" class="col-12 col-md-2 col-form-label">Mobile No</label>
        </div>
        <div class="col-md-4 row">
            <input type="tel" class="form-control" id="phone" name="phone" placeholder="Mobile Number" value="{{user.phone}}">
        </div>


        <div class="form-group row">
            <label for="email" class="col-12 col-md-2 col-form-label">Email</label>
        </div>

        <div class=" form-group row">
            <div class="col-12 col-md-4">
                <input type="text" class="form-control" id="email" name="email" placeholder="Email" value="{{user.email}}">
                <div class="text-danger">{{user.emailError}}</div>
            </div>
        </div>

        <div class="form-group row">
            <div class="col-sm-4">
                <button type="submit" class="btn btn-primary btn-sm"><i class="fas fa-layer-group"></i>  Save</button>
            </div>
        </div>
    </form>
  </div>
</body>
</html>